.App {
    text-align: center;
    display: block;
    height: 85vh;
    #logo {
        width: 50%;
    }
    #arrow {
        width: 30px;
        position:absolute;
        bottom: 10%;
        right: 48.7%;
    }
}