$but-grad: linear-gradient(to right, rgba(45, 86, 163, 1),rgba(58, 170, 53, 1),rgba(255, 222, 0, 1),rgba(228, 28, 31, 1));

.Header {
    display: grid;
    width: 80%;
    height: 15vh;
    margin-left: auto;
    margin-right: auto;
}

.button-border {
    border-radius: 23px;
    background: linear-gradient(to right, rgba(45, 86, 163, 1),rgba(58, 170, 53, 1),rgba(255, 222, 0, 1),rgba(228, 28, 31, 1)) ;
    width: 201px;
    height: 45px;
    padding: 3px;
    margin-top: 2vh;
}


#but-menu {
    background: #FFFFFF;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 32px;
    //width: 50vw;
    margin: 0;
    // border-color:;
    border-radius: 20px;
    width: 201px;
    height: 45px;
}