.Start{
    text-align: center;
}

.but-start {
    background: linear-gradient(100.86deg, #3E64AC 20.3%, #3AAA35 48.65%, #DEC938 78.92%, #E33033 106.55%);
    color: #FFFFFF;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 42px;
    width: 381px;
    height: 99px;
    border-radius: 42px;
}